.container-img {
  position: relative;
}

.card-section-2 {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .title-container {
    width: 50%;
  }

  .card-section-2 {
    margin-left: 1rem;
    margin-bottom: 0px;
  }
}
