:root {
  --background: rgb(254, 252, 251);
  --white: rgb(255, 255, 255);
  --white-2: #cccccc;
  --white-3: #fefcfb;
  --orange: rgb(250, 116, 54);
  --color-1: rgb(34, 34, 34);
  --color-2: rgb(102, 102, 102);
}

body {
  background-color: var(--white-3);
}
