.container-section-footer {
  background-color: var(--orange);
  border-radius: 15px;
  width: 100%;
  height: 416px;
  position: relative;
  overflow: hidden;
}

.contet-section-footer {
  width: 80%;
  max-width: 708px;
}

.container-section-footer__img-1 {
  position: absolute;
  right: 0px;
  top: 15px;
}

.Ellipse-19 {
  position: absolute;
  left: 0px;
  bottom: -10px;
}

.title-contet-section-footer {
  width: 100%;
  color: #fff;
  font: 700 48px "Volkhov", serif;
}

.input-container {
  position: relative;
}

.input-field {
  height: 68px;
  font: 400 16px "Poppins", sans-serif;
}

.input-field:focus {
  box-shadow: 0 0 3px;
  outline: none;
}

.btn__section-footer {
  background-color: rgb(253, 97, 25);
  color: #fff;
  cursor: pointer;

  position: absolute;
  right: 10px;
  top: 7px;
  font: 400 16px "Poppins", sans-serif;
}

.btn__section-footer:hover {
  background-color: rgb(250, 138, 86);
}

.content-footer {
  width: 255px;
}

.content-footer_2 {
  width: 100%;
}

ul {
  padding: 0px;
}

li a {
  text-decoration: none;
  color: gray;
}

li {
  list-style: none;
}

.title-list {
  font: 600 16px "Poppins", sans-serif;
  margin-bottom: 1.5rem;
}

.logo {
  cursor: pointer;
}

.copy-container__content {
  color: var(--color-2);
}

@media screen and (max-width: 572px) {
  .title-contet-section-footer {
    width: 100%;
    color: var(--white);
    font-size: 22px;
  }

  .btn__section-footer {
    position: relative;
    display: flex;
    right: 0px;
    width: 100%;
    justify-content: center;
    background-color: rgb(252, 86, 9);
  }
}
